---
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/abouts/">About</a>
    <a href="/posts/">posts</a>

    <h1>My Astro Learning posts</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/blogs/blogs-1/">Blogs 1</a></li>
      <li><a href="/blogs/blogs-2/">Blogs 2</a></li>
    </ul>
  </body>
</html>